/* custom css */

.table {
    background: white;
    color: black;
    border-radius: 4px;
    padding: 10px;
    border-collapse: separate !important;
    font-weight: normal;
}

.table thead {
    font-weight: bold;
}

.colorpicker {
    /*border: 6px solid grey;*/
    border:none;
    padding: 25px 40px;
    border-radius:14px;
    float:left;
    transform: translateY(30%);
}

.light_container {
    height: 85px;
    margin: 0px;
    padding: 0px;
}
.light_icon {
    height: 30px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
    position:relative;
}

.light_bubble {
    padding: 22px 20px;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background:black;
    border: 6px solid grey;
    position:relative;
    z-index:-1;
}

.bubble_wrapper {
    background:none;
    border:none;
    position:relative;
    z-index:100;
}

.right {
    float: right;
}
/* switch css */

.onoffswitch {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}

/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "PT Sans", sans-serif;
    color: #83b0b9;
    background-color: #343943;
}
a {
    color: #d35657;
    text-decoration: none;
}
/* -------------------------------- 

Navigation

-------------------------------- */

.cd-side-navigation {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100vh;
    width: 74px;
    overflow: hidden;
}
.cd-side-navigation::before {
    /* background color of the side navigation */
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: -webkit-calc(100% - 4px);
    width: calc(100% - 4px);
    background-color: #131519;
}
.cd-side-navigation ul {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.cd-side-navigation li {
    width: -webkit-calc(100% - 4px);
    width: calc(100% - 4px);
}
.cd-side-navigation a {
    display: block;
    position: relative;
    padding: 4em 0 1.5em;
    font-size: 1.2rem;
    text-align: center;
    color: #4a5261;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}
.cd-side-navigation a svg {
    /* this is the icon */
    
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 1.3em;
}
.cd-side-navigation a svg * {
    -webkit-transition: stroke 0.2s;
    -moz-transition: stroke 0.2s;
    transition: stroke 0.2s;
}
.cd-side-navigation a::after {
    /* 4px line to the right of the item - visible on hover */
    
    content: '';
    position: absolute;
    top: 0;
    right: -4px;
    height: 100%;
    width: 4px;
    background-color: #83b0b9;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
    pointer-events: none;
}
.no-touch .cd-side-navigation a:hover {
    color: #4a5261;
    text-decoration: none;
    background-color: #08090b;
}
.no-touch .cd-side-navigation a:hover::after {
    opacity: 1;
}
.cd-side-navigation a.selected,
.no-touch .cd-side-navigation a.selected:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #131519;
}
.cd-side-navigation a.selected > svg *,
.no-touch .cd-side-navigation a.selected:hover > svg * {
    stroke: #343943;
}
.cd-side-navigation li:nth-of-type(2) .selected > svg *,
.cd-side-navigation li:nth-of-type(2) .selected:hover > svg * {
    stroke: #d35657;
}
.cd-side-navigation li:nth-of-type(3) .selected > svg *,
.cd-side-navigation li:nth-of-type(3) .selected:hover > svg * {
    stroke: #83b0b9;
}
.cd-side-navigation li:nth-of-type(4) .selected > svg *,
.cd-side-navigation li:nth-of-type(4) .selected:hover > svg * {
    stroke: #e4b162;
}

.cd-side-navigation li:nth-of-type(1) a::after {
    background-color: #131519;
}
.cd-side-navigation li:nth-of-type(2) a::after {
    background-color: #d35657;
}
.cd-side-navigation li:nth-of-type(3) a::after {
    background-color: #83b0b9;
}
.cd-side-navigation li:nth-of-type(4) a::after {
    background-color: #e4b162;
}
@media only screen and (min-width: 480px) {
    .cd-side-navigation {
        width: 94px;
    }
    .cd-side-navigation a {
        padding: 4em 0 1.5em;
        font-size: 1.3rem;
    }
    .cd-side-navigation a svg {
        top: 1.6em;
    }
}
/* -------------------------------- 

 Main Content

-------------------------------- */

.cd-main {
    height: 100vh;
    overflow: hidden;
}
.cd-section {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-left: 70px;
    /* Force Hardware Acceleration */
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0s 0.5s;
    -moz-transition: -moz-transform 0s 0.5s;
    transition: transform 0s 0.5s;
}
.cd-section.overflow-hidden {
    /* this class is used to hide the scrolling bar while a new section is entering the viewport */
    
    overflow: hidden;
}
.cd-section header {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #83b0b9;
    overflow: hidden;
}
.cd-section.index{
    background-color: #343943;
}
.cd-section.services {
    background-color: #d35657;
}
.cd-section.projects {
    background-color: #83b0b9;
}
.cd-section.contact {
    background-color: #e4b162;
}
.cd-section .cd-scroll {
    /* this is the arrow at the bottom of the header */
    
    display: block;
    position: absolute;
    bottom: 60px;
    left: -webkit-calc(50vw - (74px - 4px)/2);
    left: calc(50vw - (74px - 4px)/2);
    width: 44px;
    height: 44px;
    /* image replacement */
    
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    -webkit-transition: -webkit-transform 0s 0.5s, visibility 0s 0.5s;
    -moz-transition: -moz-transform 0s 0.5s, visibility 0s 0.5s;
    transition: transform 0s 0.5s, visibility 0s 0.5s;
    -webkit-transform: translateX(-50%) scale(0);
    -moz-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    -o-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    background: url("../img/cd-icon-arrow.svg") no-repeat center center;
}
.cd-section.visible {
    /* this is the visible/selected section */
    
    position: relative;
    z-index: 2;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s 0s;
    -moz-transition: -moz-transform 0.5s 0s;
    transition: transform 0.5s 0s;
}
.cd-section.visible .cd-scroll {
    visibility: visible;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    -webkit-transition: -webkit-transform 0.3s 0.5s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.3s 0.5s, visibility 0s 0s;
    transition: transform 0.3s 0.5s, visibility 0s 0s;
    -webkit-animation: cd-scroll-down 1.2s 0.9s;
    -moz-animation: cd-scroll-down 1.2s 0.9s;
    animation: cd-scroll-down 1.2s 0.9s;
    -webkit-animation-iteration-count: 2;
    -moz-animation-iteration-count: 2;
    animation-iteration-count: 2;
}
@media only screen and (min-width: 480px) {
    .cd-section {
        padding-left: 90px;
    }
    .cd-section .cd-scroll {
        left: -webkit-calc(50vw - (94px - 4px)/2);
        left: calc(50vw - (94px - 4px)/2);
    }
}
@-webkit-keyframes cd-scroll-down {
    0% {
        -webkit-transform: translateX(-50%) scale(1);
    }
    50% {
        -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1);
    }
}
@-moz-keyframes cd-scroll-down {
    0% {
        -moz-transform: translateX(-50%) scale(1);
    }
    50% {
        -moz-transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -moz-transform: translateX(-50%) scale(1);
    }
}
@keyframes cd-scroll-down {
    0% {
        -webkit-transform: translateX(-50%) scale(1);
        -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
        -o-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }
    50% {
        -webkit-transform: translateY(10px) translateX(-50%) scale(1);
        -moz-transform: translateY(10px) translateX(-50%) scale(1);
        -ms-transform: translateY(10px) translateX(-50%) scale(1);
        -o-transform: translateY(10px) translateX(-50%) scale(1);
        transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1);
        -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
        -o-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }
}
.cd-title {
    position: absolute;
    top: 50%;
    left: 0;
    /* this prevents title from jumping when the section scroll bar is visible */
    
    width: calc(100vw - 90px);
    padding: 1em;
    color: #ffffff;
    text-align: center;
    /* Force Hardware Acceleration */
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-80px);
    -moz-transform: translateY(-50%) translateX(-80px);
    -ms-transform: translateY(-50%) translateX(-80px);
    -o-transform: translateY(-50%) translateX(-80px);
    transform: translateY(-50%) translateX(-80px);
    -webkit-transition: -webkit-transform 0s 0.5s, opacity 0s 0.5s;
    -moz-transition: -moz-transform 0s 0.5s, opacity 0s 0.5s;
    transition: transform 0s 0.5s, opacity 0s 0.5s;
}
.cd-title h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.cd-title span {
    opacity: 0.6;
}
.visible .cd-title {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.4s 0.3s, opacity 0.4s 0.3s;
    -moz-transition: -moz-transform 0.4s 0.3s, opacity 0.4s 0.3s;
    transition: transform 0.4s 0.3s, opacity 0.4s 0.3s;
}
@media only screen and (min-width: 768px) {
    .cd-title h2 {
        font-size: 5rem;
    }
}
.cd-content {
    padding: 2em 0;
    min-height: 100vh;
}
.cd-content {
    width: 90%;
    margin: 0 auto 2em;
    font-weight: bold;
    line-height: 1.6;
    font-size: 1.2rem;
}
@media only screen and (min-width: 768px) {
    .cd-content {
        padding: 4em 0;
    }
}
/* -------------------------------- 

 Loading Bar

-------------------------------- */

#cd-loading-bar {
    position: fixed;
    z-index: 2;
    left: 70px;
    width: 4px;
    visibility: hidden;
    /* Force Hardware Acceleration */
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
#cd-loading-bar.index {
    background-color: #343943;
}
#cd-loading-bar.services {
    background-color: #d35657;
}
#cd-loading-bar.projects {
    background-color: #83b0b9;
}
#cd-loading-bar.contact {
    background-color: #e4b162;
}
#cd-loading-bar.loading {
    visibility: visible;
}
@media only screen and (min-width: 480px) {
    #cd-loading-bar {
        left: 90px;
    }
}
